<section class="contRL">
<h1>Recipes List</h1>

    <div class="list">
      <% if @recipes.empty? %>
        <p>There are no recipes.</p>
      <% else %>
      <%= render @recipes %>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="actions">
        <%= link_to "New Recipe", new_recipe_path, class: "btn" %>
      </div>
    <% end %>
</section>

