<section class="pubR ">
    <div class="pubrecipe-card ">
        <h1>Public recipes</h1>

        <div class="rPub">
        <% @recipes.each do |recipe| %>
            <div class="pubR">
                <h4><%= recipe.name %></h4>
                <h5>by <%= recipe.user.name %></h5>
            </div>
            <div class="p">
                <p> Item:<%= recipe.foods.count %> </p>
                <p> total:<%= @total %>    </p>
            </div>
        <% end %>
        </div>

    </div>
</section>