img {
  width: 100px;
  height: 80px;
}

.contRL {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipe-card {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex-direction: row;
}
